:root {
    --screen-color: white;
    --button-color: purple;
}

/* this element makes sure each screen section pops up separately */
.hidden {
    display: none;
} 

body { /* styling for header and main sections */
    padding: 20px;
    background-color: var(--screen-color);
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: black;
    padding: 20px;
}

/* using # to style each ID element mentioned in html code */
#start-quiz {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: black;
    padding: 20px;
}

#start-btn {
    background-color: var(--button-color);
    color: white;
    padding: 10px 10px;
    border-radius: 8px; /* to make button look more round */
    cursor: pointer; /* changes clicker to pointer when hovering over answer choice */
 }

/* setting up same styling to answer choices like the start button */
#quiz-screen button {
    display: flex; /* for setting up layout */
    flex-direction: column; /* chosen layout */
    align-items: center;
    background-color: var(--button-color);
    color: white;
    padding: 10px;
    border-radius: 8px;
}

/* to syle the timer section */
#quiz-screen #timer {
    text-align: right;
    padding: 10px;
    font-size: 18px;
    color: black; 
}

/* to syle the submit button */
#submit-score-btn { 
    background-color: var(--button-color);
    color: white;
    padding: 10px 10px;
    border-radius: 8px; 
    cursor: pointer;
}

/* to syle the scoreboard */
#score-board p {
    background-color: rgb(221, 175, 244);
    padding: 10px;
    border-radius: 8px;
}

/* to syle the go-back button */
#go-back-btn { 
    background-color: var(--button-color);
    color: white;
    padding: 10px 10px;
    border-radius: 8px; 
    cursor: pointer;
}

/* to syle the clear-board button */
#clear-board-btn { 
    background-color: var(--button-color);
    color: white;
    padding: 10px 10px;
    border-radius: 8px; 
    cursor: pointer;
}